#header  {
    background-color: gray;
}

h1 {
    color:blue;
    text-align: center;
}

#body p {
    text-align: center;
}

#footer {
    text-align: center;
    position:;
    background-color: gray;
    top: 4px;
}

#footer ul,li {
    display: inline;
}

#device img {
    margin: 50%;
    width: auto;
    text-align: center;
}